<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <title>Iqtadar hassan - Full time developer </title>
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header id="main_navigation" class="clearfix">
      <%= link_to "iqtadar hassan", root_path, class: "name" %>
        <nav>
          <%= link_to "Articles", posts_path %>
          <%= link_to "Project", projects_path %>
          <a href="#">Contacts</a>   
        </nav>          
    </header>

    <%= yield %>

    <footer id="main_footer">
      <nav>
      <p class="copyright">&copy; iqtadar 2020</p>
          <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
          <a href="#"><i class="fa fa-soundcloud" aria-hidden="true"></i></a>
      </nav>
    </footer>
  </body>
</html>
